body
{
 font-family: Trebuchet MS, sans-serif;
 padding-top: 1em; 
}
h1
{
 text-align: center;
 font-size: 3.5em;
}
.intro
{
 
}
#about
{
 display: flex;
 flex-direction: row;
}
div.purple
{
 background-color: #996699;
 width: 15em;
}
h2
{
 text-align: center;
 font-size: 2.5em;
}
div.summary
{
 width: 15em;
 padding-left: 1rem;
}
#characters
{
 display: flex;
 flex-direction: row;
}
div.pink
{
 background-color: #ff8f98;
 width: 15em;
}
div.glyphs
{
 background-color: #ff8f98;
}
div.leters
{
 background-color: #ff8f98;
}
div.numbers
{
 background-color: #ff8f98;
}
#styles
{
 display: flex;
 flex-direction: row;
}
div.green
{
 background-color: #339999;
 width: 15em;
}
div.regabc
{
 background-color: #339999;
}
div.boldabc
{
 background-color: #339999;
}
div.italicabc
{
 background-color: #339999;
}
div.biabc
{
 background-color: #339999;
}
#tryme
{
 display: flex;
 flex-direction: row;
}
div.plum
{
 background-color: #993366;
 width: 15em;
}
.textarea
{
 font-family: Trebuchet MS, sans-serif;
}
#designer
{
 display: flex;
 flex-direction: row;
}
div.blue
{
 background-color: #99cdff;
 width: 15em;
}