body
{
 font-family: Trebuchet MS, sans-serif;
 padding-top: 1em; 
 max-width: 750px;
 margin: 0 auto;
}
h1
{
 text-align: center;
 font-size: 3.5em;
}
nav
{
 text-align: center;
}
a
{
 color: black;
 text-decoration: none;
}
a:hover
{
 color:gainsboro;
}
a:visited
{
 color:dimgray; 
}
.intro
{
 margin: 1em auto;
 width 100%;
}
#about
{
 display: flex;
 flex-direction: row;
}
.purple
{
 background-color: #996699;
}
h2
{
 text-align: center;
 font-size: 2.5em;
}
#summary
{
 margin-left: 2em;
}
#characters
{
 display: flex;
 flex-direction: row;
}
.pink
{
 background-color: #ff8f98;
}
.smallpink
{
 display: flex;
 flex-direction: row;
 align-items: baseline; 
 justify-content: space-evenly; 
}
.column
{
 display: flex;
 flex-direction:column;
}
#glyphs
{
 font-size: 2em;
 text-align: center;
}
#letters
{
 font-size: 2em;
 text-align: center;
}
#numbers
{
 font-size: 2em;
 text-align: center;
}
#styles
{
 display: flex;
 flex-direction: row;
 align-items: baseline;
}
.green
{
 background-color: #339999;
}
.smallgreen
{
 display: flex;
 flex-direction: row;
 align-items: baseline; 
 justify-content: space-evenly; 
}
#regabc
{
 font-size: 2em;
}
#regular
{
 
}
#boldabc
{
 font-size: 2em;
 font-style: bold;
}
#italicabc
{
 font-size: 2em;
 font-style: italic;
}
#biabc
{
 font-size: 2em;
 font-style: bold italic;
}
#swdesc
{
 margin-left: 2em;
}
#tryme
{
 display: flex;
 flex-direction: row;
 align-content: flex-start;
}
.plum
{
 background-color: #993366;
}
.tryme
{
 font-family: Trebuchet MS, sans-serif;
}
textarea
{
 padding: 2em;
 margin-left: 2em;
}
#designer
{
 display: flex;
 flex-direction: row;
 align-content: flex-start;
}
.blue
{
 background-color: #99ccff;
}
#bio
{
 margin-left: 2em; 
}
.type
{
 text-align: left;
 word-spacing: normal;
 line-height: 1.2em;
}
#top
{
 text-decoration: none;
}