body
{
 font-family: Trebuchet MS, sans-serif;
 padding-top: 1em; 
}
h1
{
 text-align: center;
 font-size: 3.5em;
}
nav
{
 text-align: center;
}
a
{
 color: black;
}
a:hover
{
 color:gainsboro;
}
a:visited
{
 color:dimgray; 
}
.intro
{
 margin: 1em auto;
 width 100%;
}
#about
{
 display: flex;
 flex-direction: row;
}
div.purple
{
 background-color: #996699;
 margin: 1em;
}
h2
{
 text-align: center;
 font-size: 2.5em;
}
.summary
{
 width: 15em;
 padding-left: 1rem;
}
#characters
{
 display: flex;
 flex-direction: row;
}
.pink
{
 background-color: #ff8f98;
 margin-left: 1em;
}
#styles
{
 display: flex;
 flex-direction: row;
}
.green
{
 background-color: #339999;
 margin: 1em;
}
#tryme
{
 display: flex;
 flex-direction: row;
}
.plum
{
 background-color: #993366;
 margin: 1em;
}
.textarea
{
 font-family: Trebuchet MS, sans-serif;
}
#designer
{
 display: flex;
 flex-direction: row;
}
.blue
{
 background-color: #99ccff;
 margin: 1em;
}